[Unit]
Description=SHSM timer for Website DNS/HTTP checks
Documentation=https://github.com/gmteknologi/shsm

[Timer]
OnCalendar=*-*-* *:1/10:00
Persistent=true
Unit=shsm-websites-check.service

[Install]
WantedBy=timers.target
