[Unit]
Description=SHSM SQLite backup
Documentation=https://github.com/gmteknologi/shsm
After=network.target local-fs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/shsm/venv/bin/shsm --config /etc/shsm/config.yaml database backup
TimeoutStartSec=900
StandardOutput=journal
StandardError=journal
