[Unit]
Description=SHSM timer for Rollups and retention
Documentation=https://github.com/gmteknologi/shsm

[Timer]
OnCalendar=*-*-* 05:30:00
Persistent=true
Unit=shsm-retention.service

[Install]
WantedBy=timers.target
