[Unit]
Description=SHSM timer for MariaDB and Redis checks
Documentation=https://github.com/gmteknologi/shsm

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true
Unit=shsm-databases.service

[Install]
WantedBy=timers.target
